html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #fafafa;
    color: #353535;
    font-size: 17px;
    font-family: 'Bai Jamjuree', sans-serif;

    display: flex;
    flex-direction: column;

    * {
        max-width: 100%;
    }
}

h1 {
    font-size: 40px;
    padding: 15px;
}

h2 {
    font-size: 30px;
    padding: 15px;
}

h3 {
    font-size: 25px;
    padding: 15px;
}

h4 {
    font-size: 21px;
    padding: 10px 15px;
}

p {
    padding: 10px 15px;
}

header {
    background-color: #364f63;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-btns {
    width: 700px;
    padding: 20px;
    border-top: 2px solid #fafafa;

    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
        width: calc(86% / 7);
        margin: 5px 1%;

        background-color: #fafafa;
        border: 2px outset #fafafa;
        border-radius: 5px;
        color: #353535;
        font-size: 14px;
        letter-spacing: 1px;
        // text-shadow: 1px 1px 2px black;
        padding: 4px;
        &:active {
            border-style: inset;
            background-color: #f0f0f0
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 10px white;
        }
    }
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stock-info {
    display: none;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px black;

    width: 850px;
    margin: 0 0 40px;

    .info-header {
        background-color: inherit;
        color: inherit;
        border-bottom: 1px solid black;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        padding: 10px;

        img {
            width: 65px;
        }
    }
    .price {
        align-self: flex-end;
    }
}

.new-symbol {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    input {
        font-size: 18px;
        width: 100px;
        padding: 5px;
        border: 2px inset rgba(54, 79, 99, 0.5);
    }
    button {
        border: 2px outset rgba(54, 79, 99, 0.5);
        &:active {
            background-color: #f0f0f0;
            border-style: inset;
        }
    }
    *:focus {
        outline: none;
        box-shadow: 0 0 10px black;
    }
}

footer {
    background-color: #364f63;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 20px;
}